h1 {
  font-size: 2.5em;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.input-wrapper,
.output-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.input-wrapper {
  margin-top: 8rem;
}

.output-wrapper {
  margin-top: 6rem;
}

/* Stack columns on small screens */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .input-wrapper,
  .output-wrapper {
    width: 100%;
  }
  .input-wrapper {
    margin-top: 3rem;
  }
  .output-wrapper {
    margin-top: 2rem;
  }
}

.weather-card {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.radio-group {
  display: flex;
  gap: 4rem;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.circle-radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}
.circle-radio input[type="radio"] {
  display: none;
}

.circle-radio .dot {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 2px solid #7fffd4;
  background-color: transparent;
  position: relative;
  transition: all 0.3s ease;
  color: aquamarine;
}

/* When selected */
.circle-radio input[type="radio"]:checked + .dot {
  background-color: #7fffd4;
}

.weather-forecast {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  width: 60vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffaf3;
}

.weather-forecast h2 {
  margin: 0;
  padding: 0.25rem;
}

.favorite {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0.5rem;
}

.favorite input[type="checkbox"] {
  display: none;
}
.favorite label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.favorite .checkmark {
  width: 1rem;
  height: 1rem;
  border: 2px solid #808080;
  background-color: transparent;
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
}

/* change background color when checked 
.favorite input[type="checkbox"]:checked + .checkmark {
  background-color: #000000;
} */

/* Show checkmark when checked */
.favorite input[type="checkbox"]:checked + .checkmark::after {
  content: "✔";
  color: #000;
  position: absolute;
  left: 0.15rem;
  top: -0.1rem;
  font-size: 1rem;
  line-height: 1rem;
}

.forecast {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast-day {
  border-radius: 0.5rem;
  padding: 0 0.25rem;
  text-align: center;
  border: 1px solid #000000;
  color: rgb(143, 141, 141);
  font-size: 0.8rem;
}

.forecast-label {
  text-align: center;
  display: block;
  background-color: chocolate;
  margin-top: 0.5rem;
}
