h1 {
  font-size: 2.5em;
  margin: 0;
}

.weather-card {
  margin: 10em 0 0 8em;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  width: 253px;
}

.radio-group {
  display: flex;
  gap: 4rem;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.circle-radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}
.circle-radio input[type="radio"] {
  display: none;
}

.circle-radio .dot {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 2px solid #7fffd4;
  background-color: transparent;
  position: relative;
  transition: all 0.3s ease;
  color: aquamarine;
}

/* When selected */
.circle-radio input[type="radio"]:checked + .dot {
  background-color: #7fffd4;
}
